* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LatoRegular";
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "LatoLight";
  src: url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "LatoBold";
  src: url(./fonts/Lato-Bold.ttf);
}

.main_page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
}

.main_page_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #222;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: space-around;
  gap: 50%;
}

.main_page_links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main_page_main {
  background: #f1e4e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.main_page_title {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  gap: 1em;
}

.main_page_text {
  color: #222;
  font-family: "LatoBold";
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 32px;
}

.brand {
  font-size: 48px;
  font-weight: 900;
}

.fashion {
  color: #f16d7f;
}

.main_page_offer {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

.square_block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
}

.offer_block_square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.offer_text_in_image {
  position: absolute;
  text-align: center;
}

.long_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.offer_block_long {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  color: #fff;
  text-align: center;
  font-family: "LatoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom {
  color: #f16d7f;
  font-family: "LatoRegular";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_page_items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items_text_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
}

.item_images {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.item_img {
  width: 360px;
}

.item_text {
  width: 360px;
}

.items_header {
  color: #222;
  font-family: "LatoRegular";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items_text {
  color: #9f9f9f;
  font-family: "LatoLight";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item_name {
  color: #000;
  font-family: "LatoRegular";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item_description {
  display: inline-block;
  color: #5d5d5d;
  font-family: "LatoLight";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.item_price {
  color: #f16d7f;
  font-family: "LatoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.browse_btn {
  color: #f26376;
  font-family: "LatoRegular";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  border: none;
  position: absolute;
  text-align: center;
}

@media (max-width: 390px) {
  .main_page_main .main_img {
    display: none;
  }
}
